/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  text-align: center;
}

#landing-page {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
}

.hero h3 {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
  font-weight: 300;
  margin-bottom: 40px;
}

@media all and (min-width: 47em) {
  .hero {
    top: 32vh;
  }
  .hero h1 {
    font-size: 4em;
  }
  .hero h3 {
    font-size: 1.8em;
  }
}

.programme-hero-btn {
  text-decoration: none;
  color: #FFFFFF;
  padding: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.programme-hero-btn:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.read-more-btn {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 77px);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.read-more-btn::after {
  content: '';
  background-image: url("../img/chevron-down.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -4px;
  width: 24px;
  height: 24px;
}

.logo img {
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 70px;
}

.navbar-container ul {
  display: flex;
}

.navbar-container ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  cursor: pointer;
  margin: 0 15px;
  transition-property: color, border-color;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.navbar-container ul li a:hover {
  color: #FFFFFF;
}

.nav-menu {
  display: none;
}

@media all and (min-width: 47em) {
  .navbar-container {
    width: 90%;
  }
  .nav-menu {
    display: block;
  }
}

@media all and (min-width: 47em) {
  .navbar-container {
    width: 1140px;
  }
}

.programme-nav-btn {
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  border-radius: 20px;
}

.programme-nav-btn:hover {
  border-color: #FFFFFF;
}

.page-actuelle {
  color: #FFFFFF !important;
  padding-bottom: 5px;
  border-bottom: 1px solid #99CA3C;
}

.programme-nav-btn-actuelle {
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, #212121 0%, #212121 35%, #FFFFFF 35%, #FFFFFF 100%);
}

.patro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.patro > h2 {
  flex-basis: 100%;
  color: white;
  font-weight: 400;
  font-size: 1.625em;
  text-align: center;
  margin-top: 20px;
}

.patro > h2::after {
  content: '';
  background-color: #939393;
  width: 50px;
  height: 3px;
  display: block;
  margin: 20px auto;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media all and (min-width: 1140px) {
  .card-container {
    flex-basis: 100%;
    width: 1140px;
  }
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 20px;
}

.card h3 {
  font-size: 1.375em;
  font-weight: 500;
  margin-bottom: 10px;
}

.card p {
  line-height: 1.13636364em;
  font-size: 1em;
}

@media all and (min-width: 47em) {
  .card {
    width: calc(50% - 40px);
  }
}

.card-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E8B563;
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
  color: #000000;
  position: relative;
}

.card-id img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-id h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-id h5 {
  color: #858585;
  margin-bottom: 25px;
}

.card-id .mail-address {
  color: #000000;
  text-decoration: none;
}

.card-id p {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1em;
}

.animateur-more {
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.animateur-more p {
  margin-bottom: 30px;
}

.animateur-more a {
  background-color: #2ECC71;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 25px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.animateur-more a:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.map {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 400px;
}

#map {
  height: 400px;
}

.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  line-height: 1.3;
}

.contact .icon i {
  font-weight: 700;
  padding-top: -5px;
}

.contact .email {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.contact h3 {
  font-weight: 700;
  font-size: 28px;
}

.contact h4 {
  font-weight: 700;
  font-size: 16px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-container {
  height: 75px;
  background-color: #212121;
}

.footer-nav-container {
  height: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-nav-container nav ul {
  display: flex;
}

.footer-nav-container nav a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: 0 15px;
  transition-property: color;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.footer-nav-container nav a:hover {
  color: #FFFFFF;
}

.footer-nav-container .page-actuelle {
  border-bottom: none;
}

.footer-2nd-part-container {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.footer-2nd-part {
  display: flex;
}

.footer-2nd-part p {
  display: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-2nd-part a {
  text-decoration: none;
  color: #3B5998;
}

.icon {
  padding-right: 10px;
}

@media all and (min-width: 47em) {
  .footer-container {
    height: 175px;
  }
  .footer-nav-container {
    display: flex;
  }
  .footer-2nd-part {
    width: 90%;
    justify-content: space-between;
  }
  .footer-2nd-part p {
    display: block;
  }
}

.programme-content-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 245px);
  background-color: #212121;
}

.programme-content {
  text-align: center;
}

.programme-content h2 {
  font-size: 2em;
  margin: 100px 0;
  color: #FFFFFF;
}

.programme-content h3 {
  font-size: 1.4em;
  color: #FFFFFF;
}

.navbar-animateur {
  background-color: #212121;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-animateur nav {
  width: 1140px;
  margin: 0 auto;
}

.navbar-animateur nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar-animateur nav ul a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 10px 20px;
  property: color;
  duration: 100ms;
  timing-function: linear;
}

.navbar-animateur nav ul a:hover {
  color: #FFFFFF;
}

.coord-animateur {
  background-color: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility .2s ease-in-out;
}

.coord-animateur h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.coord-animateur h6 {
  font-size: 14px;
}

.equipe-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipe-container section {
  display: flex;
  height: 400px;
  width: 100%;
}

.equipe-container section:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.equipe-container section:nth-of-type(2n) .image-section-container {
  flex-direction: row-reverse;
}

.equipe-container img {
  width: 200px;
  height: 200px;
  transition: filter 0.2s ease-in-out;
}

.title-section, .image-section-container {
  width: 50%;
}

.image-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title-section {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-section h2 {
  font-size: 3em;
  font-weight: 500;
  border-bottom: 1px solid #99CA3C;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.title-section h4 {
  font-size: 1.4em;
}

.animateur {
  width: 200px;
  max-height: 200px;
  position: relative;
}

.animateur:hover .img-animateur {
  filter: blur(1px);
}

.animateur:hover .coord-animateur {
  opacity: 1;
  visibility: visible;
}

#benjamines {
  height: 200px;
}

#grands {
  height: 600px;
}
 

 /*# sourceMappingURL= main.css.map */