.programme-content-container
  display: flex
  justify-content: center
  height: calc(100vh - 245px)
  background-color: $darkgrey


.programme-content
  text-align: center
  h2
    font:
      size: 2em
    margin: 100px 0
    
    color: $white

  h3
    font-size: 1.4em
    color: $white


